body {
    margin: 5vw 10vw 0px 10vw;
    color: black;
    font-family: elza, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .radial-gradient {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1000;
  }

#navright {
    font-size: 2vh;
    color: black;
}

a {
    color: black;
}

p {
    font-size: 90%;
    width: 50%;
    line-height: 1.4;
    padding-top: 5%;
}

#profile {
    position: absolute;
    width: 25%;
    top: 30%;
    left: 60%;
}

@media only screen and (max-width: 600px) {
    #profile {
      position: static;
      width: 70%;
      top: 0;
      left: 50%;
    }

    p {
        width: 100%;
    }

    #logo {
        width: 40%;
    }
  }