body {
    background-image: linear-gradient(#B0F9C4, #EEEDED, #EEEDED, #EEEDED, #EEEDED);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2vw 3vw 0vw 3vw;
    color: black;
    font-family: elza, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
  }
    
  #nav {
    font-size: 2.6vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    z-index: 5000;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
  }
  
  .circles {
    display: flex;
    padding-top: 0;
    font-size: 1.5vw;
    top: 0;
  }
  
  #about, #services, #contact {
    rotate: -20deg;
    border: 1px black solid;
    border-radius: 200px;
    padding: 10px;
    text-align: center;
  }
  
  #about:hover, #services:hover, #contact:hover {
    background-color: black;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: white;
    transform: scaleX(1.2,);
    transition: 0.5s;
  }
    
  h1 {
    font-weight: normal;
    font-size: 3.5vw;
  }
  
  h2 {
    font-weight: normal;
    font-size: 2.5vw;
  }
  
  .contact {
    width: 100%;
    margin: auto;
  }
  
  #footer {
    text-align: center;
    padding: 5%;
  }
  
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    #contentGrid {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    #nav {
      font-size: 5.6vw;
    }
  
    .circles {
      font-size: 3vw;
    }
  
    #about, #services, #contact {
      padding: 5px;
    }
  
    h1 {
      font-size: 4vw;
    }
  
    h2 {
      font-size: 3vw;
    }
  }
    