@font-face {
  font-family: abc;
  src: url('ABC Diatype.ttf');
}

body {
  background-color: #F5F5F5;
  font-family: abc;
  cursor: -webkit-image-set(
    url(https://d2kq0urxkarztv.cloudfront.net/5d484c62008daf0085aaf62e/image-0e3f3856-f62b-4f59-a5a1-b6fa55b03c7f.png?w=12) 1x,
    url(https://d2kq0urxkarztv.cloudfront.net/5d484c62008daf0085aaf62e/image-0e3f3856-f62b-4f59-a5a1-b6fa55b03c7f.png) 2x
  ), auto;
}

a:hover {
  cursor: -webkit-image-set(
    url(https://d2kq0urxkarztv.cloudfront.net/5d484c62008daf0085aaf62e/image-0e3f3856-f62b-4f59-a5a1-b6fa55b03c7f.png?w=12) 1x,
    url(https://d2kq0urxkarztv.cloudfront.net/5d484c62008daf0085aaf62e/image-0e3f3856-f62b-4f59-a5a1-b6fa55b03c7f.png) 2x
  ), auto;
}

.pageContent {
  margin: 6rem 3rem;
}

@media screen and (max-width: 749px) {
  .pageContent {
    margin: 5rem 1rem;
  }
}

.nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav div a {
  padding: 0 1rem;
}

.nav .title {
  font-size: 1.5rem;
}

@media screen and (max-width: 749px) {
  .nav {
    background: #F5F5F5;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    height: 3rem;
  }
}

a {
  color: black;
  text-decoration: none;
  position: relative;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
  justify-content: center;
}

.intro #me {
  width: 30rem;
}

.intro .blurb {
  position: absolute;
  max-width: 40rem;
  font-size: 2rem;
  line-height: 50px;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 749px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }

  footer a, footer p {
    text-align: center;
  }
}

h2 {
  font-weight: normal;
}

.project-container .project-details .project-text .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 2rem 0;
}

.project-container .project-details .project-text .title-wrapper .title-info {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 749px) {
  .project-container .project-details .project-text .title-wrapper {
    flex-direction: column;
    align-items: start;
  }
}

.project-container .project-details .project-text .project-single-title {
  font-size: 2rem;
  position: relative;
  max-width: fit-content;
  white-space: nowrap;
  margin-bottom: 0.8rem;
}

.project-container .project-details .project-text .project-single-title::before{
  content: '';
  position: absolute;
  width: 100%;
  background: #F7B15E;
  opacity: 0.5;
  height: 0.5rem;
  bottom: 0.4rem;
  z-index: -1;
}

.project-container .project-details .project-text .project-single-title::after {
  content: '↗';
  position:absolute;
  bottom: -0.3rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 749px) {
  .project-container .project-details .project-text .project-single-title {
    font-size: 1.7rem;
  }
}

.project-container .project-details .project-text .project-description {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 749px) {
  .project-container .project-details .project-text .project-description {
    flex-direction: column;
  }
}

.project-container .project-details .project-text .project-description .paragraph {
  font-size: 0.9rem;
}

.project-container .project-details .featured-image {
  width: 100%;
  max-height: 60rem;
  object-fit: contain;
}

.project-container .project-image {
  width: 100%;
}

.hero {
  font-size: 1.5rem;
  width: 30%; 
}

@media screen and (max-width: 749px) {
  .hero {
    width: 100%;
  }
}

.paragraph {
  width: 75%;
}

@media screen and (max-width: 749px) {
  .paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 749px) {
  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 749px) {
  .contact-nav {
    display: none;
  }
}
