@font-face {
  font-family: JejuMyeongjo;
  src: url(JejuMyeongjo-Regular.ttf);
}

@font-face {
  font-family: MingLiU;
  src: url(MingLiU-Regular.ttf);
}

body * {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-family: JejuMyeongjo;
}

@media only screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }
}

.ming {
  font-family: MingLiU;
  font-size: 18px;
}

p {
  line-height: 1.3rem;
  font-size: 16px;
}

.title {
  font-family: MingLiU;
}

.dot {
  height: 13px;
  width: 13px;
  background-color: #403E3A;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 1rem;
}

@media screen and (max-width: 872px) {
  .nav > a {
    padding-right: 2rem;
  }
}

.nav {
  width: 100%;
  background: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  z-index: 999;
  align-items: center;
}

.nav .title {
  font-family: MingLiU;
}

.nav .dot {
  height: 13px;
  width: 13px;
  background-color: #403E3A;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 1rem;
}

.nav > a {
  padding-right: 3rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 4rem;
  font-family: MingLiU;
  font-size: 1.2rem;
  text-transform: uppercase;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 3.5rem;
  padding: 3rem;
}

.categories > a {
  text-transform: uppercase;
  color: grey;
}

.categories .active {
  color: black;
}

@media screen and (max-width: 872px) {
  .categories {
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  transition: 0.7s;
}

h1 {
  font-size: 1vh;
  text-align: center;
}

h3 {
  font-size: 40px;
  text-align: left;
  margin-top: 0;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 75%;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.column {
  padding-top: 4rem;
}

.profilePicture {
  height: 198.05px;
  width: 345px;
  object-fit: cover;
}

.project {
  height: 100%;
  min-height: 368px;
  flex-shrink: 0;
  background: #F7EDA5;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  margin: 4rem;
  margin-top: 0;
}

#contentGrid {
  text-align: center;
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1158px) {
  #contentGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 980px) {
  #contentGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

#contentGrid .project {
  height: 100%;
  min-height: 368px;
  flex-shrink: 0;
  background: #F7EDA5;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contentGrid .project:hover {
  background: #E1E1E1;
  transition: 0.7s;
}

#contentGrid .project:hover .profilePicture {
  filter: grayscale(0);
  transition: 0.7s;
}

#contentGrid .project .project-category {
  font-size: 15px;
  text-transform: uppercase !important;
  background: white;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7rem;
  font-family: MingLiU;
}

#contentGrid .project .dot {
  height: 13px;
  width: 13px;
  background-color: #403E3A;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}

#contentGrid .project .project-title {
  font-size: 25px;
  text-align: center;
}

#contentGrid .project .project-description {
  margin-top: 0;
}

#contentGrid .project .profilePicture {
  width: 100%;
  height: 198.05px;
  object-fit: cover;
  bottom: 1rem;
  left: 0;
  filter: grayscale(1);
}

.hidden {
  display: none;
}

.about-body {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 8rem 4rem 0 4rem;
}

.about-body .bio {
  font-size: 15px;
}

.about-body .bio a {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .about-body {
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 4rem 0 4rem;
  }
}

.about-page.project {
  height: 100%;
  min-height: 607px;
  flex-shrink: 0;
  max-width: 554px;
  background: #F7EDA5;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-page.project:hover {
  background: #E1E1E1;
  transition: 0.7s;
}

.about-page.project:hover .profilePicture {
  filter: grayscale(0);
  transition: 0.7s;
}

.about-page.project .project-category {
  font-size: 15px;
  text-transform: uppercase !important;
  background: white;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7rem;
  font-family: MingLiU;
}

.about-page.project .dot {
  height: 13px;
  width: 13px;
  background-color: #403E3A;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}

.about-page.project .project-title {
  font-size: 20px;
  text-align: left;
  line-height: 1.5rem;
}

.about-page.project .project-description {
  margin-top: 0;
}

.about-page.project .profilePicture {
  width: 100%;
  min-width: 454px !important;
  height: 411px;
  object-fit: cover;
  bottom: 1rem;
  left: 0;
  filter: grayscale(1);
}

li > a {
  color: black;
}

ul {
  margin: 0.6rem;
  margin-left: -1rem;
  margin-top: 0.2rem;
  list-style: '— ';
}

.date {
  color: grey;
  margin-left: -1rem;
  font-size: 0.8rem;
}

.project-container {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.project-single {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  background: #E1E1E1;
  max-width: 80%;
}

.project-single .project-category {
  font-size: 15px;
  text-transform: uppercase !important;
  background: white;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7rem;
  font-family: MingLiU;
}

.project-single .dot {
  height: 7px;
  width: 20px;
  background-color: #403E3A;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 0;
}

.project-single-title {
  font-size: 30px;
  text-align: left;
  font-family: JejuMyeongjo;
}

.project-single-title > a {
  border-bottom: 1px solid black;
}

#project-image {
  width: 80%;
  margin: 0.5rem 0;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-info .featured-image {
  width: 100% !important;
}

.project-info .project-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .project-info .project-images {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .project-info > img {
    max-width: 100%;
  }
}

.project-info > p {
  max-width: 50%;
}

@media only screen and (max-width: 1000px) {
  .project-info > p {
    max-width: 70%;
  }
}

.section.title {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.languages {
  color: black;
  font-family: MingLiU;
  text-transform: uppercase;
  padding-top: 0.5rem;
}
