body {
    background-color: rgb(238, 237, 237);
    margin: 2vw 3vw 0vw 3vw;
    color: black;
    font-family: elza, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=132467),auto;	 */
  }

a {
    text-decoration: none;
    color: black;
    /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=132577),auto;	 */
}

a:hover {
    color: rgb(2, 29, 207);
    transform: scaleX(1.2,);
    transition: 1s;
    text-decoration: underline;
}

#nav {
  font-size: 2.4vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-left: 1%;
  padding-right: 1%;
  z-index: 5000;
  top: 0;
  margin: 0;
  left: 0;
  background-color: rgb(238, 237, 237);
  width: 100%;
  border-bottom: 1px solid black;
}
  
  h1 {
    font-size: 1vh;
    text-align: center;
  }
  
  h3 {
    font-size: 95%;
    text-align: left;
    margin-top: 0;
    font-weight: normal;
  }
  
  h5 {
    font-size: 75%;
    line-height: 0px;
    text-align: left;
    font-weight: normal;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  #contentGrid {
    grid-gap: -10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .wrapper {
    padding-top: 6%;
  }

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 5000;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0.5%;
}

footer a {
  color: rgb(238, 237, 237);
  background-color: black;
  border-radius: 454px 45px 45px 45px;
  padding: 1%;
}

footer a:hover {
  color: black;
  background-color: rgb(238, 237, 237);
}

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    #contentGrid {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
}

